version: "3.9"

services:
  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    container_name: ps-backend
    ports:
      - "3000:3000"
    env_file:
      - ../backend/.env
    depends_on:
      - mysql
      - redis
      - minio
    restart: unless-stopped

  mysql:
    image: mysql:8
    container_name: ps-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ps_ops
      TZ: Asia/Kolkata
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    restart: unless-stopped

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: ps-phpmyadmin
    depends_on:
      - mysql
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: root
      TZ: Asia/Kolkata
      command: --default-time-zone='+00:00
    ports:
      - "8080:80" 

  redis:
    image: redis:alpine
    container_name: ps-redis
    ports:
      - "6379:6379"
    restart: unless-stopped

  minio:
    image: minio/minio
    container_name: ps-minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password123
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    restart: unless-stopped
  
volumes:
  mysql_data:
  minio_data:
